* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    overflow: hidden;
}
.app {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    padding: 50px 0;
    background: url("../img/bg_main.jpg") center / cover no-repeat;
    .boards {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        &__item {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            align-self: baseline;
            max-width: 250px;
            width: 100%;
            background-color: rgba($color: #000000, $alpha: 0.5);
            margin: 0 15px;
            padding: 10px;
            transition: 0.3s all ease;
            border-radius: 3px;
            .title {
                padding: 5px;
                color: aliceblue;
                & :focus {
                    outline: 1 px solid rgba(168, 168, 168, 0.45);
                }
            }
            .list {
                min-height: 40px;
                &__item {
                    background-color: aliceblue;
                    border-radius: 3px;
                    padding: 10px;
                    text-align: center;
                    margin: 4px 0;
                    cursor: pointer;
                    font-weight: 400;
                    font-size: 14;
                    outline: none;
                    border: none;
                }
            }
            .form {
                display: none;
                border-radius: 3px;
                margin-top: auto;
                .textarea {
                    resize: none;
                    height: 60px;
                    border-radius: 3px;
                    border: none;
                    background-color: aliceblue;
                    padding: 10px;
                    width: 100%;
                    &:focus {
                        outline: none;
                    }
                }
                .buttons {
                    display: flex;
                    .add__item-btn {
                        background: rgb(76, 169, 249);
                        border: none;
                        height: 35px;
                        cursor: pointer;
                        color: aliceblue;
                        border-radius: 3px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 10px;
                        width: 100%;
                    }
                    .cancel__item-btn {
                        padding: 0 10px;
                        background: rgb(160, 17, 12);
                        border: none;
                        height: 35px;
                        cursor: pointer;
                        color: aliceblue;
                        border-radius: 3px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 75px;
                        margin-left: auto;
                    }
                }
            }
            .add__btn {
                height: 30px;
                border-radius: 3px;
                cursor: pointer;
                background: rgba($color: #3b3939, $alpha: 0.3);
                margin-top: 5px;
                display: flex;
                align-items: center;
                padding-left: 10px;
                color: aliceblue;
                span {
                    font-size: 20px;
                    color: aliceblue;
                    margin: 10px;
                }
            }
        }
    }
    .add__board-btn {
        height: 30px;
        border-radius: 3px;
        cursor: pointer;
        color: aliceblue;
        background: rgba(76, 169, 249, 0.45);
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        position: absolute;
        width: 150px;
        bottom: 50px;
        left: 50%;
        transform: translate(-50%);
        font-size: 14px;
    }
}
